@CHARSET "UTF-8";
.bodycss{
	padding-top: 		50px;
	background-color:	#f1f1f1;
}

#tabletop{
	margin-top:7px;
	margin-bottom:7px;
}

#myBackground{
	background-color:#337ab7;
}

.wordDisplay{
	position:relative;
}

.imgPosition{
	margin-top:20px;
	margin-bottom:10px;
}

#myWidth{
	min-width: 450px;
}

.dots{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#myNavBar{
	margin-bottom:0px;
}